<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Error</title>
</head>
<body>

<div class="overlay"></div>
<header>
    <div class="container">
        <h1>🚫 Oops! Something Went Wrong</h1>
        <p class="error-message">{{.ErrorMessage}}</p>
        <p>Please try again.</p>
        <a href="/" class="back-home-button">Back to Home Page</a>
        <!-- <p class="suggestion">If the problem persists, consider <a href="moikobrian99@gmail.com">contacting support</a>.</p> -->
    </div>
</header>
</body>
</html>

